.navbar{
    font-family: 'Poppins';
    padding: 0.5%;
}
.navbar > div > a{
    font-weight: 600;
}
.navbar a{
    font-weight: 500;
}

.txt{
    font-size: 50px;
    font-weight: 700;
    margin-left: 20px;
}

.imgPos{
    position: absolute;
    margin-top: 10%;
    width: 100%;
    
}  

.txtcontent{
    margin-left: 500px;
    margin-right: 500px;
    font-size: 20px;
    text-align: justify;
}